[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
torch = "*"
numpy = "*"
tqdm = "*"
torchvision = "*"
pytorch-pretrained-bert = "*"

[requires]
python_version = "3.6"
