[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
pytest = "*"
pdbpp = "*"

[packages]
numpy = "*"
tqdm = "*"
mojimoji = "*"
flask = "*"
tensorboard = "*"
future = "*"
pyknp = {editable = true,git = "https://github.com/ku-nlp/pyknp.git",ref = "master"}
torch = "*"
textformatting = {editable = true,git = "https://github.com/ku-nlp/python-textformatting.git",ref = "master"}
pandas = "*"
scipy = "*"
transformers = "*"
scikit-learn = "*"
kyoto-reader = {editable = true,git = "https://github.com/ku-nlp/kyoto-reader.git",ref = "master"}

[requires]
python_version = "3.6"
